@model IEnumerable<eCommerceApp.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Products</h1>
        <p class=" lead text-muted">Start adding products to your basket.</p>
        @* <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Main call to action</a>
        </p> *@
    </div>
</section>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">View All Products</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="@Url.Action("Index", "ShoppingCart")">
            <button type="button" class="btn-basket" onclick="viewCart()">
                
                <img src="~/images/market.png" alt="Shopping Cart" style="height: 40px;" />
            </button>
        </a>
       </nav>
</div>


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img src="@product.ImageUrl" alt="@product.Name">
                        <div class="card-body">
                            <p class="card-text">@product.Description</p>
                            <div class="btn-group">
                                <form method="post" action="@Url.Action("AddToCart", "Product")">
                                    <input type="hidden" name="productId" value="@product.Id" />
                                    <input type="hidden" name="quantity" value="1" />
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Add</button>
                                </form>

                                <form method="post" action="@Url.Action("RemoveFromCart", "Product")">
                                    <input type="hidden" name="cartItemId" value="@product.Id" />
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button>
                                </form>
                            </div>
                            <strong class="text-muted">Price: @product.Price</strong>
                            <div class="mt-2">
                                <small>Quantity in Cart: @product.QuantityInCart</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
    </div>
</div>